<!DOCTYPE html>
<html lang="en">
<head>
   <script src="{{ url_for('static', filename='main.js') }}" defer></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>
    <h1>Weather App</h1>
    <div id="weather-container">
        <input type="text" id="city-input" placeholder="Enter city name">
        <button id="get-weather-btn">Get Weather</button>
        <div id="weather-result">
            <p id = "location"></p>
            <p id="temperature"></p>   
            <p id="condition"></p>
            <p id="humidity"></p>
            <p id="wind-speed"></p>
            <p id="date"></p>
        </div>
</body>
</html>